<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="alertaEditar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let cat of categorias">
    <ion-card-header>
      <ion-card-subtitle>{{cat._id}}</ion-card-subtitle>
      <ion-card-title>{{cat.titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{cat.descripcion}}
    </ion-card-content>
    <div class="ion-padding" style="text-align: center;">
      <ion-button (click)="alertaEditar(cat)" shape="round" color="secondary"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button (click)="confirmareliminacion(cat._id)" shape="round" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </div>
  </ion-card>
</ion-content>
