<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="!_authService.usuarioData">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Oaxayak admn</ion-list-header>
          <ion-note>{{_authService.usuarioData?.nombre}}</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label >Modo oscuro</ion-label>
            <ion-toggle [ngModel]="darkmode" (ionChange)="cambiar()"></ion-toggle>
          </ion-item>

        </ion-list>          
            
        <ion-button color="danger" expand="block" (click)="_authService.logout()">Cerrar Sesión</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
