<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{tipo}}</ion-title>
    <ion-button slot="end" (click)="cerrar()"><ion-icon class="icon-only" name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
